.Cab {
    
    padding: 0%;
    margin: 0%;
    background-color: rgb(160, 118, 199);
}

h2 {
    align-items: center;
    color: blueviolet;
}

.Nome {
    display: flex;

}

.card {
    width: 300px;
    border: 200px;
    border-color: blueviolet;
    box-shadow: 10px;
}

.card-img {
    width: 200px;

}

.card-content {
    padding: 20px;
}

.card-titulo {
    font-size: large;
}

